.AboutMe {
    background-color: white;
    height: 500px;
    padding-bottom: 100px;
}

.AboutMe .Container {
    display: flex;
}

.AboutMe .Container .Text {
    margin-left: 40px;
    width: 800px;
}
