.AboutMe {
    background-color: white;
    padding-bottom: 200px;
    height: 650px;
}

.AboutMe .Container {
    display: flex;
}

.AboutMe .Container .Text {
    background-color: pink;
    margin-left: 100px;
    width: 50%;
    height: 400px;
    padding: 30px 30px 30px 30px;
    
}

.AboutMe .Container .Myself {
    height: 600px;
    margin-left: 30%;
    position:absolute;
    right:0;

}