.Contact {
    background-color: pink;
    height: 370px;
}

.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor: pointer;
}


.Contact .ContactInfo .Phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.Contact .ContactInfo .Email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-weight: bold;
}

.Contact .Message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    padding-top: 30px;
}